/* Colors */
$bg-color: #404040;
$border-color: #355D7F;
$cell-hover-color: #5DB0BF;
$cell-color: #E5E24D;
$button-bg: #355D7F;
$button-color: #E5E24D;

/* Variables */
$cell-size: 4%;
$border: 1px solid $border-color;
$game-size: 34%;

/* Viewports */
$small-breakpoint: 320px;
$medium-breakpoint: 480px;
$large-breakpoint: 768px;
$tablet-breakpoint: 1024px;
$desktop-breakpoint: 1200px;