.life-wrapper {
  overflow: hidden;
}

  .life-row {
    clear: both;
    overflow: hidden;
    margin: 0;
    padding: 0;
  }

  .life-cell {
    border: 1px solid #000;
    width: 45px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    float: left;
    list-style: none;
    margin: 0;
    padding: 0;

    &:hover {
      cursor: pointer;
      background: #ccc;
    }

    &.active {
      background: #ccc;
    }
  }

  .life-start {
    clear: both;
    width: 140px;
    height: 27px;
    margin-top: 30px;
  }