$cell-size: 25px;

.life-wrapper {
  overflow: hidden;
}

  .life-row {
    clear: both;
    overflow: hidden;
    margin: 0;
    padding: 0;
  }

  .life-cell {
    font-size: 8px;
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
    width: $cell-size;
    height: $cell-size;
    line-height: $cell-size;
    text-align: center;
    float: left;
    list-style: none;
    margin: 0;
    padding: 0;

    &:hover {
      cursor: pointer;
      background: #ccc;
    }

    &.active {
      background: #444;
    }
  }

  .life-start {
    clear: both;
    width: 140px;
    height: 27px;
    margin-top: 30px;
  }